@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

body {
    color: #0c0c0c;
    background-color: #EEF5FF;
    overflow-x: hidden;
}

.container {
    padding: 10px 8%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Background Container */
.background-container {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    transition: background-image 0.5s ease-in-out;
    position: relative;
}

.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    z-index: 1;
}

.nav-button.left {
    left: 10px;
}

.nav-button.right {
    right: 10px;
}

/* Header */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: 1000;
    transition: background 0.3s ease;
}

.navigation-bar {
    color: #242424;
    background: rgba(180, 212, 255, 0.4);
    transition: background 0.3s ease;
}

.navigation-bar .navigation-bar-content {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-bar .logo {
    vertical-align: middle;
    display: flex;
    align-items: center;
}

.navigation-bar .logo img {
    width: 80px;
}

.navbar {
    transition: all 0.3s ease-in-out;
}

.nav-list {
    display: flex;
    column-gap: 10px;
}

.navbar ul li {
    position: relative;
    float: left;
}

.nav-item a {
    color: #0c0c0c;
    padding: 20px;
    display: block;
    transition: all 0.3s ease 0s;
    font-size: 20px;
}

.nav-item a:hover {
    border-radius: 20px;
    background: #86B6F6;
    color: #0c0c0c;
}

.scrolled .navigation-bar {
    background: rgba(180, 212, 255, 1);
}

/* Home */
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 150px 0 50px;
    text-align: center;
    height: 80vh;
}

.home .top-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(8px);
    padding: 20px;
    border-radius: 20px;
}

.home .top-content h1 {
    color: #176B87;
    font-size: 42px;
    margin-bottom: 20px;
}

.home .top-content h4 {
    color: #176B87;
    font-size: 24px;
}

/* Services */
.service {
    padding: 30px 0;
}

.service .title {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 8px 0;
}

.service .title h1 {
    font-size: 32px;
}

.service .services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 20px;
}

.service .services-list div {
    background: #86B6F6;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.service .services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.service .services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
}

.service .services-list div p {
    text-decoration: none;
    color: #0c0c0c;
    font-size: 16px;
    margin-top: 10px;
    display: inline-block;
    line-height: 1.5;
}

.service .services-list div a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
}

.service .services-list div:hover {
    background: #176B87;
    transform: translateY(-10px);
}

/* Package */
.package {
    background-color: #86B6F6;
    padding-bottom: 25px;
}

.package .title {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 15px 0;
}

.package .title h1 {
    font-size: 32px;
}

.package .package-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 40px;
    margin-top: 20px;
}

.package .package-content .content-list {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.package .package-content .content-list img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.package .package-content .content-list .layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #B4D4FF);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 16px;
    transition: height 0.5s;
}

.package .package-content .content-list .layer h3 {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 20px;
}

.package .package-content .content-list:hover img {
    transform: scale(1.1);
}
.package .package-content .content-list:hover .layer {
    height: 100%;
}

/* Call to Action */
.call-to-action {
    position: relative;
    background-image: url('../img/adventure.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 60px 0;
    min-height: 30vh;
}

.call-to-action::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 1;
}

.call-to-action .cta-content {
    position: relative;
    z-index: 2;
    padding: 0 40px;
}

.call-to-action .cta-content h1 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #EEF5FF;
}

.call-to-action .cta-content p {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 40px;
    color: #EEF5FF;
}

.call-to-action .cta-content .btn-book {
    padding: 15px 60px;
    background-color: #86B6F6;
    color: #0c0c0c;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 16px;
    text-align: center;
}

.call-to-action .cta-content .btn-book:hover {
    background-color: #176B87;
}

/* Contact */
.contact .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 0;
}

.contact .contact-left p {
    margin-top: 20px;
}

.contact .contact-left p i {
    color: #86B6F6;
    margin-right: 15px;
    font-size: 25px;
}

.contact .social-icons {
    margin-top: 30px;
}

.contact .social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #86B6F6;
    display: inline-block;
    transition: transform 0.5s;
}

.contact .social-icons a:hover {
    color: #176B87;
    transform: translateY(-5px);
}

.contact .contact-right form {
    width: 100%;
}

.contact form input,
.contact form select {
    width: 100%;
    border: 0;
    outline: none;
    background: #176B87;
    padding: 15px;
    margin: 15px 0;
    color: #EEF5FF;
    font-size: 18px;
    border-radius: 10px;
}

input::placeholder {
    color: #EEF5FF;
    opacity: 1;
}

select {
    color: #EEF5FF;
}

select option[value=""][disabled] {
    color: #EEF5FF;
}

.contact form .btn2 {
    padding: 15px 60px;
    background-color: #86B6F6;
    color: #0c0c0c;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 16px;
    text-align: center;
    margin: 20px 0;
}

.contact form .btn2:hover {
    background-color: #176B87;
}

/* Footer */
.my-footer {
    background: #B4D4FF;
    padding: 20px 10px;
    text-align: center;
}

@media (max-width: 768px) {
    /* Call to Action */
    .call-to-action .cta-content {
        padding: 0 40px;
    }
    .call-to-action .cta-content h1 {
        font-size: 24px;
    }
    .call-to-action .cta-content p {
        font-size: 18px;
    }
    .call-to-action .cta-content .btn-book {
        padding: 10px 40px;
        font-size: 14px;
    }
}