@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #0c0c0c;
    background-color: #ffffff;
    overflow-x: hidden;
}

.container {
    padding: 10px 8%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Background Container */
.background-container {
    background-image: url('../img/tokyo.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

/* Header */
.header {
    position: relative;
    height: 100px;
}

.navigation-bar {
    color: #242424;
    background: rgba(180, 212, 255, 0.4);
}

.navigation-bar .navigation-bar-content {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-bar .logo {
    vertical-align: middle;
    display: flex;
    align-items: center;
}

.navigation-bar .logo img {
    width: 100px;
}

.navbar {
    transition: all 0.3s ease-in-out;
}

.nav-list {
    display: flex;
    column-gap: 10px;
}

.navbar ul li {
    position: relative;
    float: left;
}

.nav-item a {
    color: #0c0c0c;
    padding: 20px;
    display: block;
    transition: all 0.3s ease 0s;
    font-size: 20px;
}

.nav-item a:hover {
    border-radius: 20px;
    background: #86B6F6;
    color: #0c0c0c;
}

/* Home */
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    text-align: center;
    height: 80vh;
}

.home .top-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home .top-content h1 {
    color: #0c0c0c;
    font-size: 42px;
    margin-bottom: 20px;
}

.home .top-content h4 {
    color: #0c0c0c;
    font-size: 24px;
}

/* Footer */
.my-footer {
    background: #B4D4FF;
    padding: 20px 10px;
    text-align: center;
}
